/// table.scss - Table styles
/// @author App Art Mint LLC
///
/// @group Widget
@charset 'utf-8';

/// Imports
@use '../../util/selector' as *;

/// Table
#{class(table)} {
	&-wrap {
		max-height: 50vh;
		overflow-y: auto;
	}

	thead {
		background: css-var(bg);
	}

    #{class(actions)} {
        display: flex;
        align-items: center;
        justify-content: flex-end;
		gap: 1rem;
    }
}
